<main class="main-page">
    <app-header></app-header>
    <div class="card-grid">
        <app-card
            class="supervisor" 
            title="Supervisor"
            description="Monitors activity to identify project roadblocks"
            icon="icon-supervisor.svg"
            color="cyan"
        />
        <app-card 
            class="team-builder"
            title="Team Builder"
            description="Scans our talent network to create the optimal team for your project"
            icon="icon-team-builder.svg"
            color="red"
        />
        <app-card
            class="karma" 
            title="Karma"
            description="Regularly evaluates our talent to ensure quality"
            icon="icon-karma.svg"
            color="orange"
        />
        <app-card 
            class="calculator"
            title="Calculator"
            description="Uses data from past projects to provide better delivery estimates"
            icon="icon-calculator.svg"
            color="blue"
        />
    </div>
</main>

