.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    gap: 60px;
    padding: var(--space-200);

    .card-grid {
        display: grid;
        gap: var(--space-400);
    }
}